@model BugTracker.Models.DashboardViewModels

@{
    ViewBag.Title = "BuggyTracker - Dashboard";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jQuery.dotdotdot-master/src/jquery.dotdotdot.js" type="text/javascript"></script>
@if (User.IsInRole("Admin"))
{
    <br />
    <div class="container">
        <div class="row">

            <a class="quick-button span4 " href="@Url.Action("Index", "Projects")">
                <i class="fa-icon-file"></i>
                <p>
                    <b>All Projects</b>
                </p>
                <span class="notification">
                    @Model.Projects.Count
                </span>
            </a>


            <a class="quick-button span4 " href="@Url.Action("Index", "Tickets")">
                <i class="fa-icon-th-list"></i>
                <p>
                    <b>All Tickets</b>
                </p>
                <span class="notification">
                    @Model.Tickets.Count
                </span>
            </a>

            <a class="quick-button span4" href="@Url.Action("Index", "Notifications")">
                <i class="fa-icon-lemon"></i>
                <p>
                    <b>All Notifications</b>
                </p>
                <span class="notification">
                    @Model.Notifications.Count
                </span>
            </a>

        </div>
    </div>
}
@if (User.IsInRole("ProjectManager"))
{
    <br />
    <div class="container">
        <div class="row">


            <a class="quick-button span6 " href="@Url.Action("Index", "Tickets")">
                <i class="fa-icon-th-list"></i>
                <p>
                    <b>My Tickets</b>
                </p>
                @*<span class="notification">
                    @Model.Tickets.Count
                   

                </span>*@
            </a>

            <a class="quick-button span6" href="@Url.Action("Index", "Notifications")">
                <i class="fa-icon-lemon"></i>
                <p>
                    <b>Notifications</b>
                </p>
                <span class="notification">
                    @Model.Notifications.Count
                </span>
            </a>

        </div>
    </div>
}
@if (User.IsInRole("Developer"))
{
    <br />
    <div class="container">
        <div class="row">
            <a class="quick-button span6 " href="@Url.Action("Index", "Tickets")">
                <i class="fa-icon-th-list"></i>
                <p><b>All Tickets</b></p>
                @*<span class="notification">
                    @Model.Tickets.Count
                </span>*@
            </a>

            <a class="quick-button span6" href="@Url.Action("Index", "Notifications")">
                <i class="fa-icon-lemon"></i>
                <p><b>All Notifications</b></p>
                <span class="notification">
                    @Model.Notifications.Count
                </span>
            </a>

        </div>
    </div>
}
    @*@if (User.IsInRole("Submitter"))
        {
            <br />
            <div class="container">
                <div class="row">
                    <a class="quick-button span12"  href="@Url.Action("Index", "Notifications")">
                        <i class="fa-icon-lemon"></i>
                        <p>Notifications</p>
                        <span class="notification">
                            @Model.Notifications.Count
                        </span>
                    </a>

                    </div>
        </div>
                    }*@
    <br />

    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
            {
        <div class="container">
            <div class="page-content">

                <!-- Heading -->
                <div class="single-head">
                    <!-- Heading -->
                    @if (User.IsInRole("Admin"))
                    {
                        <h1 class="pull-left">
                            <i class="fa fa-icon-leaf green"></i>
                            Projects
                            <hr />
                        </h1>

                    }
                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                    {
                        <h1 class="pull-left">
                            <i class="fa fa-icon-leaf green"></i>
                            Assigned Projects
                            <hr />
                        </h1>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="pull-right">@Html.ActionLink("Create new project", "Create", "Projects", null, new { @class = "btn btn-primary" })</div>
                    }
                    <div class="clearfix"></div>
                </div>

                <!-- Table Page -->
                <div class="page-tables">
                    <!-- Table -->
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Creation Date</th>
                                    <th>Created By</th>

                                    <th>Control</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Projects)
                                {

                                    <tr>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @Html.Raw(item.Description)
                                        </td>
                                        <td>
                                            @item.CreationDate.ToString("D")
                                        </td>
                                        <td>
                                            @item.UserId
                                        </td>

                                        <td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <a href="@Url.Action("Edit", "Projects", new { id = item.Id })"><i class="fa fa-icon-edit blue fa-icon-2x"></i></a>
                                                <a href="@Url.Action("Details", "Projects", new { id = item.Id })"><i class="fa fa-icon-share yellow fa-icon-2x"></i></a>
                                                <a href="@Url.Action("Delete", "Projects", new { id = item.Id })"><i class="fa fa-icon-trash red fa-icon-2x"></i></a>
                                                <a href="@Url.Action("AssignUserView", "Projects", new { projectId = item.Id })"><i class="fa fa-icon-desktop green fa-icon-2x"></i></a>
                                            }
                                            @if (User.IsInRole("ProjectManager"))
                                            {
                                                <a href="@Url.Action("Details", "Projects", new { id = item.Id })"><i class="fa fa-icon-share yellow fa-icon-2x"></i></a>
                                            }

                                        </td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Creation Date</th>
                                    <th>Created By</th>

                                    <th>Control</th>

                                </tr>
                            </tfoot>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }

    <br />
    <br />
    @if ((User.IsInRole("Admin")) || (User.IsInRole("ProjectManager")) || (User.IsInRole("Developer")) || (User.IsInRole("Submitter")))
            {
        <div class="main-content">
            <div class="container">

                <div class="page-content">

                    <!-- Heading -->
                    <div class="single-head">
                        <!-- Heading -->
                        @if (User.IsInRole("Admin") || User.IsInRole("Submitter"))
                        {
                            <h1 class="pull-left">
                                <i class="fa fa-icon-leaf blue"></i> Tickets
                                <hr />
                            </h1>
                        }
                        else if (User.IsInRole("ProjectManager"))
                        {
                            <h1 class="pull-left">
                                <i class="fa fa-icon-leaf blue"></i> Tickets of Assigned Project
                                <hr />
                            </h1>
                        }
                        else if (User.IsInRole("Developer"))
                        {
                            <h1 class="pull-left">
                                <i class="fa fa-icon-leaf blue"></i> Assigned Tickets
                                <hr />
                            </h1>
                        }
                        <div class="pull-right">@Html.ActionLink("Create new Tickets", "Create", "Tickets", null, new { @class = "btn btn-success" })</div>
                        <div class="clearfix"></div>
                    </div>

                    <!-- Table Page -->
                    <div class="page-tables">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" border="0" id="data-table1" width="100%" class="table">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Created By</th>
                                        <th>Priority</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Creation Date</th>
                                        <th>Attachment</th>
                                        <th>Control</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Tickets)
                                    {
                                        <tr>
                                            <td>
                                                @item.Project.Title
                                            </td>
                                            <td>
                                                @item.UserId
                                            </td>

                                            <td>

                                                @item.Priority.Name
                                            </td>
                                            <td>
                                                @item.Type.Name
                                            </td>
                                            <td>
                                                @item.Status.Name
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @*<div id=@("abstract" + item.Id)>*@
                                       
                                                    @Html.Raw(item.Description)
                                                @*</div>*@
                                            </td>
                                            <td>
                                                @item.CreationDate.ToString("D")
                                            </td>

                                            <td>
                                                @if (item.Attachment != null)
                                                {
                                                    <span class="fa fa-icon-paper-clip"></span>
                                                            <a href="@Url.Content(item.Attachment)" target="_blank"><strong>Attachment</strong></a>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-icon-paper-clip"></span>
                                                            <strong>No Attachment</strong>
                                                }
                                            </td>
                                            <td>
                                                @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager")))
                                                {
                                                  
                                                    <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })"><i class="fa fa-icon-edit blue fa-icon-2x"></i></a>
                                                    <a href="@Url.Action("Details", "Tickets", new { id = item.Id })"><i class="fa fa-icon-share yellow fa-icon-2x"></i></a>
                                                    <a href="@Url.Action("Delete", "Tickets", new { id = item.Id })"><i class="fa fa-icon-trash red fa-icon-2x"></i></a>
                                                    <a href="@Url.Action("AssignTicket", "Tickets", new { ticketId = item.Id })"><i class="fa fa-icon-desktop green fa-icon-2x"></i></a>
                                                }
                                              
                                                else if (User.IsInRole("Developer"))
                                                {
                                                    <a href="@Url.Action("Edit", "Tickets", new { id = item.Id })"><i class="fa fa-icon-edit blue fa-icon-2x"></i></a>
                                                    <a href="@Url.Action("Details", "Tickets", new { id = item.Id })"><i class="fa fa-icon-share orange fa-icon-2x"></i></a>
                                                }
                                                else if (User.IsInRole("Submitter"))
                                                {
                                                    <a href="@Url.Action("Details", "Tickets", new { id = item.Id })"><i class="fa fa-icon-share orange fa-icon-2x"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Project</th>
                                        <th>Created By</th>
                                        <th>Priority</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Creation Date</th>
                                        <th>Attachment</th>
                                        <th>Control</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    }

    <br />
    @if (!(User.IsInRole("Admin") || (User.IsInRole("ProjectManager")) || (User.IsInRole("Developer")) || (User.IsInRole("Submitter"))))
            {
        <h1 class="red">Please wait for Administrator to assign you a role before furthur navigating.... </h1>
                <p>
                    <img src="~/perfectum_dashboard_1_0_5/img/bc20fb7cc1c123a28e3deb5515b33daf.230x100x38.gif" />
                </p>

    }



    @section Scripts{

        <script type="text/javascript">
            /* ****************************************** */
            /* Data Table JS */
            /* ****************************************** */

            $(document).ready(function () {
                $('#data-table').dataTable({
                    "sPaginationType": "full_numbers"
                });
            });

        </script>


        <script type="text/javascript">
            /* ****************************************** */
            /* Data Table JS */
            /* ****************************************** */

            $(document).ready(function () {
                $('#data-table1').dataTable({
                    "sPaginationType": "full_numbers"
                });
            });

        </script>

<script type="text/javascript">
        $(document).ready(function () {
            $('#abstract').dotdotdot({
                height: 50,
                ellipsis: '...',
                wrap: 'word',
                fallbackToLetter: true,
                watch: "window"
                
            });
        });
</script>
    }
