@model IEnumerable<BugTracker.Models.Notification>

@{
    ViewBag.Title = "Index";
}



<!--------------------------------------->

<br />
<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h1 class="pull-left"><i class="fa fa-icon-leaf green"></i> Notifications</h1>

                @*<div class="pull-right">@Html.ActionLink("Create new Tickets", "Create", null, new { @class = "btn btn-primary" })</div>
                <div class="clearfix"></div>*@
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table">
                        <thead>
                            <tr>
                                <th>Date Received</th>
                                <th>Created By</th>
                                <th>Ticket Name</th>
                                <th>Motified</th>
                                <th>Control</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.DateNotified.ToString("D")
                                    </td>
                                    <td>
                                        @item.CreatorUserId
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ticket.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Change)
                                    </td>
                                    <td>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date Received</th>
                                <th>Created By</th>
                                <th>Ticket Name</th>
                                <th>Motified</th>
                                <th>Control</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {


    <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

    </script>

}