@model IEnumerable<BugTracker.Models.Project>

@{
    ViewBag.Title = "BuggyTracker - Project";
}
<br />
<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h1 class="pull-left"><i class="fa fa-table purple"></i> Projects</h1>
                @if (User.IsInRole("Admin"))
                {
                <div class="pull-right">@Html.ActionLink("Create new project", "Create", null, new { @class = "btn btn-primary" })</div>
                }
                <div class="clearfix"></div>
            </div>

            <!-- Table Page -->
            <div class="page-tables">
                <!-- Table -->
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%" class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Creation Date</th>
                                <th>Created By</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.Raw(item.Description)
                                    </td>
                                    <td>
                                       @item.CreationDate.ToString("D")
                                    </td>
                                    <td>
                                      @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                  
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" }) 
                                        @Html.ActionLink("AssignUserToProject", "AssignUserView", new { projectId = item.Id}, new { @class ="btn btn-primary"})



                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Creation Date</th>
                                <th>Created By</th>
                                <th>Control</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>




<!-------------------------------------------------------->




@*<h2>Project</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            Created By
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
        <td>
           @item.CreationDate.ToString("D")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@






@section Scripts {


    <script type="text/javascript">
		/* ****************************************** */
		/* Data Table JS */
		/* ****************************************** */

		$(document).ready(function() {
			$('#data-table').dataTable({
			   "sPaginationType": "full_numbers"
			});
		});

    </script>

}